@model Panel.Models.EventConfigurationViewModel
@{
    ViewBag.Title = "Event Configuration";
}

<div class="container">
<div class="row">
    <h2>Event Configuration</h2>
</div>
<div class="row">
    @Html.Raw(Model.Response)
</div>
<div class="row">
    <table id="" class="table table-hover">
        <thead>
            <tr>
                <th>Event rule</th>
                <th>Period</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @{ 
                foreach (var item in Model.Configurations)
                {
                    <tr>
                        <td>
                            @Html.Raw(item.Rule)
                        </td>
                        <td>
                            @Html.Encode(item.Period)
                        </td>
                        <td>
                            @Html.ActionLink("Edit", "Edit", new { id = item.Id })
                        </td>
                        <td>
                            @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>
</div>
<div class="row">
    <p>Function(property [property_operator] property_value) [operator] value</p>
</div>
<div class="row">
    <form method="POST" action="/EventConfiguration/Add">
        <div class="form-group">
            <label for="function-input">Function:</label>
            @Html.DropDownList("function", Model.CurrentConfig.Function, new { @id = "function-input", @class = "form-control" })
        </div>
        <div class="form-group">
            <label for="property-input">Property:</label>
            @Html.DropDownList("property", Model.CurrentConfig.Property, new { @id = "property-input", @class = "form-control" })
        </div>
        <div class="form-group">
            <label for="property-operator-input">Property operator:</label>
            @Html.DropDownList("property-operator", Model.CurrentConfig.PropertyOperator, new { @id = "property-operator-input", @class = "form-control" })
        </div>
        <div class="form-group">
            <label for="property-value-input">Property value:</label>
            @Html.TextBox("property-value", Model.CurrentConfig.PropertyValue, new { @id = "property-value-input", @class = "form-control" })
        </div>
        <div class="form-group">
            <label for="operator-input">Operator:</label>
            @Html.DropDownList("operator", Model.CurrentConfig.Operator, new { @id = "operator-input", @class = "form-control" })
        </div>
        <div class="form-group">
            <label for="value-input">Value:</label>
            @Html.TextBox("value", Model.CurrentConfig.ResultValue, new { @id = "value-input", @class = "form-control" })
        </div>
        <div class="form-group">
            <label for="period-input">Period (number of days):</label>
            @Html.TextBox("period", Model.CurrentConfig.Period, new { @id = "period-input", @class = "form-control" })
        </div>
        <div class="form-group">
            <label for="template-input">Template (html Code):</label>
            @Html.TextArea("template", Model.CurrentConfig.Template, new { @id = "template-input", @class = "form-control" })
        </div>
        @Html.Hidden("id", Model.CurrentConfig.Id);
        <button type="submit" class="btn btn-default">Submit</button>
    </form>
</div>
</div>