@{
    ViewBag.Title = "DataConfiguration";
}

<div class="form-inline">
    <h2>Data Configuration</h2>
    </br></br></br></br>

    <table style="width:100%">
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>TypeId</th>
            <th></th>
            <th></th>
        </tr>
        @foreach (var configuration in @ViewBag.configurations)
        {
            <tr>
                <td>@configuration.Id</td>
                <td>@configuration.Name</td>
                @{int typeId = @configuration.TypeId;}
                @{
                    switch (typeId)
                    {
                        case 1:
                            <td>Int</td>
                            break;
                        case 2:
                            <td>String</td>
                            break;
                    }
                }

                <td>
                    <form style ='float: left; padding: 5px;'>
                        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal" data-whatever="@configuration.Id">Edit</button>
                    </form>
                    
                    <form method="POST" action="/DataConfiguration/DeleteData" style ='float: left; padding: 5px;'>
                        <input name="Submit" type="Submit" value="Delete" class="btn btn-primary" />
                        <input name="delete" type="hidden" value=@configuration.Id />
                    </form>
                </td>

            </tr>
        }
    </table>

    </br></br></br>

    <form method="POST" action="/DataConfiguration/AddConfiguration">
        <div class="well">
            <label for="formGroupExampleInput">Add new data</label> <br />
            <div class="form-inline">
                <input type="text" name="name" class="form-control" id="formGroupExampleInput" placeholder="Name">
                <select name="type" class="form-control">
                    <option>Int</option>
                    <option>String</option>
                </select>
                <input value="Save" type="Submit" class="btn btn-primary" />
            </div>
        </div>

    </form>


    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="exampleModalLabel">Edit</h4>
                </div>
                <div class="modal-body">

                        <form method="POST" action="/DataConfiguration/EditData">
                            <div class="well">
                                <label for="formGroupExampleInput">Add new data</label> <br />
                                <div class="form-inline">
                                    <input type="hidden" name="id" class="form-control" id="formGroupExampleInput" placeholder="id">
                                    <input type="text" name="name" class="form-control" id="formGroupExampleInput" placeholder="Name">
                                    <select name="type" class="form-control">
                                        <option>Int</option>
                                        <option>String</option>
                                    </select>
                                    <input value="Save" type="Submit" class="btn btn-primary" />
                                </div>
                            </div>
                            </form>
                    
                    </form>
                </div>
                <div class="modal-footer">
                </div>
            </div>
        </div>
    </div>


    </div>
    </br></br></br>

<script type="text/javascript">

   $('#exampleModal').on('show.bs.modal', function (event) {
  var button = $(event.relatedTarget)
  var recipient = button.data('whatever')
  var modal = $(this)
  modal.find('.modal-body input').first().val(recipient)
})
</script>

